

/*===============================
/freshjoomla/templates/ja_mason/js/owl-carousel/owl.carousel.min.css
================================================================================*/
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(/freshjoomla/templates/ja_mason/js/owl-carousel/owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}


/*===============================
/freshjoomla/templates/ja_mason/acm/clients/css/style.css
================================================================================*/
@media (max-width:991px){.acm-cliens .row{margin-left:-12px;margin-right:-12px}}.acm-cliens .row + .row{margin-top:48px}@media (max-width:991px){.acm-cliens .row + .row{margin-top:24px}}@media (max-width:767px){.acm-cliens .row + .row{margin-top:0}}@media (max-width:991px){.acm-cliens .row > div{padding-left:12px;padding-right:12px}}.acm-cliens .client-item .client-img{background:#252525;height:144px;line-height:144px;text-align:center;-webkit-transition:all 500ms;-o-transition:all 500ms;transition:all 500ms}.acm-cliens .client-item .client-img img{display:inline-block;max-height:144px}.acm-cliens .client-item .client-img:hover{background:#000000}.acm-cliens.img-grayscale .client-item span{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%)}@media (max-width:1199px){.acm-cliens.img-grayscale .client-item span{width:100% !important}}.acm-cliens.img-grayscale .client-img{display:inline-block;line-height:1;width:100%}.acm-cliens.img-grayscale .client-img img{max-height:100px}@media (max-width:1199px){.acm-cliens.img-grayscale .client-img{display:block}}@media (max-width:767px){.acm-cliens .client-item{padding-top:12px;padding-bottom:12px;width:100% !important;text-align:center}.acm-cliens .client-item img{display:inline-block}}.acm-cliens .client-item:hover .client-img img{filter:alpha(opacity=100) !important;opacity:1 !important}.acm-cliens .action{margin-top:48px}


/*===============================
/freshjoomla/templates/ja_mason/acm/contact-info/css/style.css
================================================================================*/
.acm-contact-info{position:relative}.acm-contact-info .info-bg{padding-right:96px;width:100%;height:100%;overflow:hidden;text-align:center}@media (max-width:991px){.acm-contact-info .info-bg{padding-right:0;margin-bottom:48px}}.acm-contact-info .info-bg img{width:auto}@media (min-width:1200px){.acm-contact-info .info-bg img{width:100%}}.acm-contact-info .info-bg .map-container{margin:0;max-width:100%}.acm-contact-info .info-list{margin-bottom:0}.acm-contact-info .info-list dt{color:#888888;font-size:11px;font-family:'IBM Plex Sans Condensed',sans-serif;font-weight:400;text-transform:uppercase;margin-bottom:6px}.acm-contact-info .info-list dd{margin-bottom:48px}.acm-contact-info .info-list dd a{border-bottom:1px dotted #ffc400}.acm-contact-info.style-dark{color:#ffffff;color:rgba(255,255,255,0.8)}


/*===============================
/freshjoomla/templates/ja_mason/acm/features-intro/css/style.css
================================================================================*/
.acm-features.style-1 .features-content .features-item{padding-right:48px}@media (max-width:767px){.acm-features.style-1 .features-content .features-item{padding-right:24px}}@media (max-width:1199px){.acm-features.style-1 .features-content .features-item h2{font-size:24px}}@media (min-width:1392px){.acm-features.style-1 .features-content .features-image{margin-right:-144px}}@media (max-width:991px){.acm-features.style-1 .features-content .features-image{margin-bottom:48px}}.acm-features.style-1 .features-content h2 a{color:#ffffff}.acm-features.style-1 .features-content h2 a:hover,.acm-features.style-1 .features-content h2 a:focus,.acm-features.style-1 .features-content h2 a:active{color:#ffc400}.acm-features.style-1 .features-content .btn{margin-top:24px}.acm-features.style-2 .row{margin-top:-24px;margin-bottom:-24px}.acm-features.style-2 .row > div{padding-bottom:24px;padding-top:24px}.acm-features.style-2 .font-icon{margin-bottom:24px}.acm-features.style-2 .font-icon span{color:#ffc400;font-size:40px}.acm-features.style-2 .img-icon{margin-bottom:24px}.acm-features.style-2 .action{background:#ffffff;border-radius:50%;color:#151515;display:inline-block;text-align:center;line-height:32px;margin-top:24px;font-size:11px;height:32px;width:32px}@media (max-width:767px){.acm-features.style-2 .action{margin-top:0}}.acm-features.style-2 .action:hover,.acm-features.style-2 .action:focus,.acm-features.style-2 .action:active{background:#ffc400}.full-width .acm-features.style-3{margin-left:-48px;margin-right:-48px}.full-width .acm-features.style-3 .owl-slide{padding-left:144px}@media (min-width:1392px){.full-width .acm-features.style-3 .owl-slide.container{padding-right:0;width:100%}}@media (max-width:1391px){.full-width .acm-features.style-3 .owl-slide{padding-left:24px;padding-right:24px}}.full-width .acm-features.style-3 .owl-slide .owl-carousel{padding-right:144px;overflow:hidden}@media (max-width:1391px){.full-width .acm-features.style-3 .owl-slide .owl-carousel{padding-right:0}}.full-width .acm-features.style-3 .owl-slide .owl-carousel .owl-stage-outer{overflow:visible}.acm-features.style-3 .owl-slide{position:relative;z-index:4}.acm-features.style-3 .owl-carousel{padding-top:96px;margin-top:-96px;position:relative}.acm-features.style-3 .owl-carousel .owl-nav{top:0;margin-bottom:48px;position:absolute;right:288px;z-index:2}@media (max-width:1391px){.acm-features.style-3 .owl-carousel .owl-nav{right:0}}@media (max-width:767px){.acm-features.style-3 .owl-carousel .owl-nav{display:none}}.acm-features.style-3 .owl-carousel .owl-nav > div{border:2px solid #ffffff;border-radius:50%;cursor:pointer;display:inline-block;text-align:center;line-height:44px;margin-left:12px;height:48px;width:48px}.acm-features.style-3 .owl-carousel .owl-nav > div:hover{background:#ffc400;border-color:#ffc400;color:#151515}.acm-features.style-3 .owl-carousel .owl-dots{display:block;text-align:center;margin-top:48px}.acm-features.style-3 .owl-carousel .owl-dots > div{background:#252525;display:inline-block;margin:0 8px;height:8px;width:8px}.acm-features.style-3 .owl-carousel .owl-dots > div.active{background:#ffc400}.acm-features.style-3 .features-text{background:#252525;padding:48px 24px;text-align:center;-webkit-transition:500ms all;-o-transition:500ms all;transition:500ms all}.acm-features.style-3 .features-text h4{margin-top:0}.acm-features.style-3 .features-text p{color:#888888;font-size:11px;font-family:'IBM Plex Sans Condensed',sans-serif;margin-bottom:0;text-transform:uppercase}.acm-features.style-3 a:hover,.acm-features.style-3 a:focus,.acm-features.style-3 a:active{text-decoration:none}.acm-features.style-3 .features-item:hover .features-text{background:#000000}.acm-features.style-3 .features-item:hover h4{color:#ffc400}


/*===============================
/freshjoomla/templates/ja_mason/acm/teams/css/style.css
================================================================================*/
.acm-teams .row + .row{margin-top:48px}@media (max-width:767px){.acm-teams .row + .row{margin-top:24px}}@media (max-width:767px){.acm-teams .row > div + div{margin-top:24px}}.acm-teams .item{background:#252525;position:relative;-webkit-transition:all 500ms;-o-transition:all 500ms;transition:all 500ms}.acm-teams .item:before,.acm-teams .item:after{display:table;content:" "}.acm-teams .item:after{clear:both}.acm-teams .item .member-image{float:left;margin-right:48px}@media (max-width:1199px){.acm-teams .item .member-image{float:none;margin-right:0;width:100%}.acm-teams .item .member-image img{width:100%}}.acm-teams .item .member-content{padding:48px;padding-bottom:96px}@media (max-width:767px){.acm-teams .item .member-content{padding:24px;padding-bottom:96px}}.acm-teams .item .member-content h4{margin-top:0}.acm-teams .item .member-title{color:#888888;font-size:11px;text-transform:uppercase}.acm-teams .item .member-desc{margin-bottom:0}.acm-teams .item .action{background:#ffffff;border-radius:50%;bottom:48px;color:#151515;position:absolute;line-height:32px;text-align:center;height:32px;width:32px}@media (max-width:767px){.acm-teams .item .action{bottom:24px;left:24px}}.acm-teams .item .action:hover,.acm-teams .item .action:focus,.acm-teams .item .action:active{background:#ffc400}.acm-teams .item:hover{background:#000000}.acm-teams .item:hover h4{color:#ffc400}.acm-teams .action{margin-top:48px}@media (max-width:991px){.acm-teams .action{padding-left:0}}


/*===============================
/freshjoomla/templates/ja_mason/acm/slideshow/css/style.css
================================================================================*/
.acm-slideshow .owl-carousel{cursor:move;padding:0;overflow:hidden}.acm-slideshow .owl-carousel .item{position:relative;overflow:hidden}.acm-slideshow .owl-carousel .item:before{background-image:linear-gradient(to right,#000000,transparent);content:"";position:absolute;top:0;left:0;bottom:0;width:50%;filter:alpha(opacity=20);opacity:0.2}.acm-slideshow .owl-carousel .item .img-bg{max-width:100%}.acm-slideshow .owl-carousel .item .slider-img{width:100%;height:auto}.acm-slideshow .owl-carousel .item .slider-thumb{width:auto}.acm-slideshow .owl-carousel .item .slider-content{display:block;color:#ffffff;top:50%;left:0;right:0;position:absolute;padding:0;margin-left:0;height:auto;z-index:2;transform:translateY(-50%);-webkit-transform:translateY(-50%)}.acm-slideshow .owl-carousel .item .slider-content h1{font-weight:700;font-size:90px;margin-bottom:48px;margin-top:0}@media (max-width:767px){.acm-slideshow .owl-carousel .item .slider-content h1{font-size:40px;margin-bottom:0}}.acm-slideshow .owl-carousel .item .slider-content-inner .title a{color:#ffffff;line-height:1.066;letter-spacing:-5px;text-decoration:underline}@media (max-width:767px){.acm-slideshow .owl-carousel .item .slider-content-inner .title a{letter-spacing:-2px}}.acm-slideshow .owl-carousel .item .slider-content-inner .title a p{margin-bottom:0}.acm-slideshow .owl-carousel .item .slider-content-inner .title a span{display:block}.acm-slideshow .owl-carousel .item .slider-content-inner .btn{color:#ffffff}.acm-slideshow .owl-carousel .owl-nav{bottom:48px;position:absolute;right:48px}@media (max-width:767px){.acm-slideshow .owl-carousel .owl-nav{bottom:24px;right:24px}}.acm-slideshow .owl-carousel .owl-nav > div{border:2px solid rgba(255,255,255,0.25);border-radius:50%;color:#ffffff;height:48px;line-height:44px;margin-top:12px;text-align:center;width:48px}@media (max-width:767px){.acm-slideshow .owl-carousel .owl-nav > div{margin-top:6px;height:24px;line-height:20px;font-size:11px;width:24px}}.acm-slideshow .owl-carousel .owl-nav > div:hover{border-color:#ffffff}.acm-slideshow .owl-carousel .owl-dots{bottom:144px;left:0;position:absolute;text-align:center;width:100%}@media (max-width:1199px){.acm-slideshow .owl-carousel .owl-dots{bottom:24px}}@media (max-width:991px){.acm-slideshow .owl-carousel .owl-dots{bottom:72px}}@media (max-width:767px){.acm-slideshow .owl-carousel .owl-dots{bottom:12px}}.acm-slideshow .owl-carousel .owl-dots > div{display:inline-block;margin:0 6px}.acm-slideshow .owl-carousel .owl-dots > div > span{border:1px solid #ffffff;border-radius:50%;display:inline-block;height:8px;width:8px}.acm-slideshow .owl-carousel .owl-dots > div.active > span{border-width:2px;position:relative;top:1px;height:10px;width:10px}