/**
 * ------------------------------------------------------------------------
 * JA Mason Template
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2018 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites:  http://www.joomlart.com -  http://www.joomlancers.com
 * This file may not be redistributed in whole or significant part.
 * ------------------------------------------------------------------------
*/


/* MAIN STYLE
---------------------*/

* {
	box-sizing: border-box;
}

body {
  background: #1c1c1c;
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Archivo", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.error {
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	padding: 120px 0;
}

/* OutLine */
#outline {
	text-align: center;
	margin-top: 5%;
}

/* Eror Code */
.error-code {
  color: #fff;
  display: inline-block;
  font-size: 350px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
}


/* Message Error */
.error-message {
}

/* Message Error */
.error-message h2 {
	color: #eee;
  display: inline-block;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0;
  position: relative;
}

.error-message h2 span {
    position: relative;
    z-index: 3;
}


#errorboxbody p {
	color: #bbbbbb;
	display: block;
	margin: 0 0 30px;
	z-index: 3;
	position: relative;
	font-weight: 300;
}

/* Button Home */
.button-home {
  background: #ffc400;
  border: 0;
  border-radius: 0;
  color: #fff;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  text-transform: uppercase;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 700;
  padding: 18px 48px;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.button-home:hover,
.button-home:focus,
.button-home:active {
  background: #dea300;
  color: #fff;
}

@media (max-width: 480px){
  .error {
    padding: 48px 0;
  }
	/* OutLine */
	#outline {
	}

	/* Eror Code */
	.error-code {
	  font-size: 150px;
	}

	/* Message Error */
	.error-message {
	}

	/* Message Error */
	.error-message h2 {
	  font-size: 24px;
	}
}